/* index */
.thumb {
    width: 100%;
}
/* show */
#canvas {
    min-height: 100vh;
    position: relative;
}
.rectangle {
    border: 1px solid #FF0000;
    position: absolute;
    span {
      font-size: .8em;
      transition: .3s ease-in-out;
      z-index: 999;
      display: inline-block;
      position: relative;
      width: 16px;
      height: 16px;
      &:hover {
        color: red;
        cursor: pointer;
      }
      &::after, &::before {
        content: "";
        width: 15px;
        height: 1px;
        background-color: #000;
        display: inline-block;
        position: absolute;
        left: 2px;
        top: 8px;
      }
      &::after {
        transform: rotateZ(-45deg);
      }
      &::before {
        transform: rotateZ(45deg);
      }
    }
}