/* index */
.thumb {
    max-height: 300px;
    overflow: hidden;
    img {
        width: 100%;
    }
}
/* show */
#bg {
    position: absolute;
    top: 0;
    left: 0;
}
#canvas {
    position: relative;
}
.rectangle {
    border: 2px dotted red;
    position: absolute;
    transition: opacity .3s ease-in-out;
    &.bg-0, &.bg-1, &.bg-2, &.bg-3, &.bg-4 {
        border-color: transparent;
        opacity: 0.7;
        &:after {
            font-weight: bold;
            color: black;
        }
    }
    &.bg-0:after {
        &:after {
            content: "1. Text";
        }
        .color:after {
            content: "Next: 2. Image";
        }
    }
    &.bg-1:after {
        &:after {
            content: "2. Image";
        }
        .color:after {
            content: "Next: 3. Graph";
        }
    }
    &.bg-2:after {
        &:after {
            content: "3. Graph";
        }
        .color:after {
            content: "Next: 4. Ads";
        }
    }
    &.bg-3:after {
        &:after {
            content: "4. Ads";
        }
        .color:after {
            content: "Next: 2. Image";
        }
    }
    &.bg-4 {
        &:after {
            content: "5. Ambig";
        }
        .color:after {
            content: "Next: 1. Text";
        }
    }
    span {
        font-size: .8em;
        transition: .3s ease-in-out;
        z-index: 999;
        display: inline-block;
        position: relative;
        width: 16px;
        height: 16px;  
        &:hover {
            cursor: pointer;
        }    
    }
    .color {
        border-radius: 10px;
        float: right;
        width: 110px;
        text-align: center;
        color: black;
        text-decoration: underline;
    }
    .remove {
        &:hover {
            &::after, &::before {
                background-color: rgba(0,0,0,0.5);
            }
        }
        &::after, &::before {
            content: "";
            width: 15px;
            height: 1px;
            background-color: #000;
            display: inline-block;
            position: absolute;
            left: 2px;
            top: 8px;
        }
        &::after {
            transform: rotateZ(-45deg);
        }
        &::before {
            transform: rotateZ(45deg);
        }
    }
}